Node-red/flows_FBarros-Note.json
[{"id":"92e432f3.859f58","type":"tab","label":"Publisher","disabled":false,"info":""},{"id":"150f523c.ae1046","type":"tab","label":"Subscriber","disabled":false,"info":""},{"id":"8f80bf2c.278248","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2e4ca93a.b394ce","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f86147a7.2b1f78","type":"mqtt out","z":"92e432f3.859f58","name":"MQTT Publisher","topic":"29ASOTest","qos":"2","retain":"","broker":"2e4ca93a.b394ce","x":340,"y":140,"wires":[]},{"id":"279fcbf3.49686c","type":"inject","z":"92e432f3.859f58","name":"Hardcode Inject","topic":"29ASOTest","payload":"31","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["f86147a7.2b1f78"]]},{"id":"805e282b.a75bd","type":"mqtt in","z":"150f523c.ae1046","name":"MQTT Subscriber","topic":"29ASOTest","qos":"2","broker":"8f80bf2c.278248","x":100,"y":40,"wires":[["9ec75b40.7ea678"]]},{"id":"9ec75b40.7ea678","type":"function","z":"150f523c.ae1046","name":"Preparar Request","func":"dados = { temperatura : msg.payload };\nmsg.payload = JSON.stringify(dados);\nmsg.headers = {\n    \"Content-Type\" : \"application/json\",\n    \"Access-Control-Allow-Origin\" : \"*\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["70bb1604.595bc8"]]},{"id":"70bb1604.595bc8","type":"http request","z":"150f523c.ae1046","name":"Temperatura API","method":"POST","ret":"obj","url":"http://localhost:51032/temperaturas","tls":"","x":530,"y":40,"wires":[["7b588526.5679bc"]]},{"id":"7b588526.5679bc","type":"http response","z":"150f523c.ae1046","name":"Response","statusCode":"","headers":{},"x":720,"y":40,"wires":[]}]