Node-red/Flow_Arduino.json
[{"id":"c950a619.a8a338","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3ef8d79a.6666a8","type":"arduino in","z":"c950a619.a8a338","name":"sensor","pin":"0","state":"ANALOG","arduino":"187bf927.992977","x":130,"y":520,"wires":[["a212c86d.0f9478"]],"outputLabels":["global.sensor"]},{"id":"761dc8c0.afed18","type":"debug","z":"c950a619.a8a338","name":"ito","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":380,"wires":[]},{"id":"9822b65.a50a548","type":"rbe","z":"c950a619.a8a338","name":"nivelador","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":400,"y":440,"wires":[["761dc8c0.afed18","3442cfe2.fc34a","b884f7ff.f3e0b8"]]},{"id":"71bc1762.6a98b8","type":"function","z":"c950a619.a8a338","name":"toCelcius","func":"context.global.temperatura = [];\ncontext.global.temperatura = (( msg.payload/1024.0)*5000/10);\nmsg.payload = parseFloat((context.global.temperatura).toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["9822b65.a50a548"]]},{"id":"e7e8b158.bce6","type":"arduino out","z":"c950a619.a8a338","name":"high","pin":"13","state":"OUTPUT","arduino":"187bf927.992977","x":1170,"y":320,"wires":[]},{"id":"f960f75b.9a1168","type":"arduino out","z":"c950a619.a8a338","name":"normal","pin":"12","state":"OUTPUT","arduino":"187bf927.992977","x":1150,"y":580,"wires":[]},{"id":"9cf23ada.f370a8","type":"arduino out","z":"c950a619.a8a338","name":"low","pin":"11","state":"OUTPUT","arduino":"187bf927.992977","x":1150,"y":820,"wires":[]},{"id":"e9793f1e.4b263","type":"debug","z":"c950a619.a8a338","name":"high","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1190,"y":180,"wires":[]},{"id":"383fbebf.9e3d72","type":"debug","z":"c950a619.a8a338","name":"normal","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":440,"wires":[]},{"id":"e11fdb51.163b38","type":"debug","z":"c950a619.a8a338","name":"low","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":720,"wires":[]},{"id":"3442cfe2.fc34a","type":"switch","z":"c950a619.a8a338","name":"Action","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"29.00","vt":"num"},{"t":"btwn","v":"20.00","vt":"num","v2":"29.00","v2t":"num"},{"t":"lt","v":"21.00","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":580,"wires":[["50f89f72.66a3e","4088c774.8a6a18","22c90666.5fe95a"],["7fb99fbf.85b76","4f36041a.cf0cec","22c90666.5fe95a"],["50f89f72.66a3e","4f36041a.cf0cec","b80712c2.4e26b"]],"outputLabels":["1","1","1"]},{"id":"7fb99fbf.85b76","type":"change","z":"c950a619.a8a338","name":"Acende-normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":560,"wires":[["f960f75b.9a1168","383fbebf.9e3d72"]]},{"id":"50f89f72.66a3e","type":"change","z":"c950a619.a8a338","name":"Apaga-normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":620,"wires":[["f960f75b.9a1168"]]},{"id":"4088c774.8a6a18","type":"change","z":"c950a619.a8a338","name":"Acende-Alta","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["e7e8b158.bce6","e9793f1e.4b263"]]},{"id":"4f36041a.cf0cec","type":"change","z":"c950a619.a8a338","name":"Apaga-Alta","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":360,"wires":[["e7e8b158.bce6"]]},{"id":"b80712c2.4e26b","type":"change","z":"c950a619.a8a338","name":"Acende-baixa","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":780,"wires":[["9cf23ada.f370a8","e11fdb51.163b38"]]},{"id":"22c90666.5fe95a","type":"change","z":"c950a619.a8a338","name":"Apaga-baixa","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":840,"wires":[["9cf23ada.f370a8"]]},{"id":"b884f7ff.f3e0b8","type":"mqtt out","z":"c950a619.a8a338","name":"MQTT - Publish","topic":"29ASOTest","qos":"2","retain":"","broker":"359501db.53f68e","x":620,"y":400,"wires":[]},{"id":"a212c86d.0f9478","type":"delay","z":"c950a619.a8a338","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":240,"y":620,"wires":[["71bc1762.6a98b8"]]},{"id":"187bf927.992977","type":"arduino-board","z":"","device":"COM3"},{"id":"359501db.53f68e","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"29ASOTest","birthQos":"2","birthPayload":""}]